Technologies:

- Tauri v2
- Radix UI
- Lexical text editor
- NOT TAILWIND, DO NOT ADD ANY TAILWIND TO THIS PROJECT

Guidelines:

- Never do an incidental refactor; only accomplish the task at hand and move on. If a refactor is required to accomplish a task, confirm first.
- When removing a file, use 'rm -rf', not just 'rm'.
- Before introducing a new data structure, confirm with me first.

Notes on files:

- App.tsx is the main entry point. It controls the overall layout of the app.
- Settings.tsx handles the settings window, and is created by settings.tsx and settings.html.
- actions.ts contains mutation code. bootstrap_schema.ts contains the SQL schema.
- src/styles/index.css contains design tokens and utility classes, and is used in most components.
- The database schema is defined in Rust using SQLite migrations. The source of truth for the schema is in `src-tauri/migrations/01-initial-schema.sql`. SQLite PRAGMAs are set in the Rust code in `src-tauri/src/lib.rs`.

In order to add a new kind of window:

1. Create a new .html file at the repo root
2. Create a corresponding .tsx file in src/, and a React component under src/components

Helpful commands:

- Build to verify a set of changes: `bun run tauri build --no-bundle`
