.LexicalTextEditor {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  min-width: 0;
}

.LexicalTextEditor > * {
  height: 100%;
}

.LexicalTextEditor__container {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.LexicalTextEditor__inner {
  background: var(--slate-1);
  position: relative;
}

.LexicalTextEditor__input {
  min-height: 100%;
  resize: none;
  font-size: var(--font-size-lg);
  position: relative;
  tab-size: 1;
  outline: 0;
  caret-color: var(--slate-12);
  padding-top: var(--tiny-padding);
  padding-left: var(--tiny-padding);
  padding-right: var(--tiny-padding);
}

.LexicalTextEditor__placeholder {
  color: var(--slate-11);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: var(--tiny-padding);
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
  padding-left: var(--tiny-padding);
  font-size: var(--font-size-lg);
}

/* Text formatting */
.LexicalTextEditor__text--bold {
  font-weight: bold;
}

.LexicalTextEditor__text--italic {
  font-style: italic;
}

.LexicalTextEditor__text--underline {
  text-decoration: underline;
}

.LexicalTextEditor__text--strikethrough {
  text-decoration: line-through;
}

.LexicalTextEditor__paragraph {
  margin: 0;
  position: relative;
}

.ImageDropTarget--dragging .LexicalTextEditor__container {
  outline: var(--border-width) dashed var(--blue-9);
  background-color: var(--blue-2);
  border-radius: var(--radius-md);
}

/* Links */
.LexicalTextEditor a {
  cursor: pointer;
}

.LexicalTextEditor .meta-pressed a {
  cursor: alias;
  position: relative;
}

.LexicalTextEditor .meta-pressed a:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid var(--slate-6); */
  outline: 1px solid var(--slate-6);
  outline-offset: 2px;
  z-index: -1;
}
