.SuggestedTagsBar {
  margin-top: 4px;
}

.suggestions-button {
  margin-left: auto;
  min-width: 32px;
  height: 32px;
  padding: 0 var(--space-1);
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.suggestions-button[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.suggestions-button:hover:not([data-disabled]) {
  background-color: var(--gray-4);
}

.suggestions-button:active:not([data-disabled]) {
  background-color: var(--gray-5);
}

.suggestions-button:focus-visible {
  outline: 2px solid var(--gray-8);
  outline-offset: -1px;
}

.suggestions-spinner {
  margin-left: auto;
}

.suggestions-indicator {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--space-1);
  color: var(--gray-11);
  padding: 0 var(--space-1);
}

.suggestions-indicator svg {
  color: var(--gray-11);
}

.suggestions-content {
  padding: var(--space-2);
}
