.TagToken {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: 2px var(--space-1);
  background: var(--slate-3);
  border-radius: var(--radius-sm);
  user-select: none;
  outline: none;
  cursor: pointer;

  border: 1px solid transparent;
}

.TagToken:focus {
  background: var(--tag-selected-bg);
  color: var(--tag-selected-text);
  outline: none;
}

.TagToken:focus .TagToken__removeButton {
  color: var(--tag-selected-text);
}

.TagToken > span {
  flex-grow: 1;
}

.TagToken__removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  color: var(--text-secondary);
  cursor: pointer;
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}

.TagToken__removeButton:hover {
  color: var(--text-primary);
}

.TagToken--suggestion {
  background: none;
  /* dashed border */
  border: 1px dashed var(--slate-6);
}

.TagToken--suggestion:hover {
  background: var(--slate-4);
}
