.TagBar-tag {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: 2px var(--space-2);
  background: var(--slate-3);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-sm);
  user-select: none;
  outline: none;
  cursor: pointer;
}

.TagBar-tag:focus,
.TagBar-tag.focused {
  background: var(--tag-selected-bg);
  color: var(--tag-selected-text);
  outline: none;
}

.TagBar-tag:focus .TagBar-removeButton,
.TagBar-tag.focused .TagBar-removeButton {
  color: var(--tag-selected-text);
}

.TagBar-tag > span {
  flex-grow: 1;
}

.TagBar-removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  color: var(--text-secondary);
  cursor: pointer;
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}

.TagBar-removeButton:hover {
  color: var(--text-primary);
}
