.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.toolbar-root {
  padding: var(--space-1);
  border-radius: var(--radius-md);
  display: flex;
  gap: var(--space-1);
  justify-self: center;
  grid-row: 1;
}

.toolbar-button {
  all: unset;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  line-height: 1;
  font-weight: 500;
  height: 24px;
  color: var(--gray-12);
  cursor: pointer;
  gap: var(--space-1);
}

.toolbar-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.toolbar-button:hover {
  background-color: var(--gray-4);
}

.toolbar-button:focus {
  position: relative;
  background-color: var(--gray-4);
  box-shadow: 0 0 0 2px var(--gray-8);
}

.toolbar-icon {
  width: 14px;
  height: 14px;
}
