.LexicalTextEditor {
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: hidden;
  background: white;
  position: relative;
  min-width: 800px;
}

.LexicalTextEditor > * {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.LexicalTextEditor .editor-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  padding: 1rem;
}

.LexicalTextEditor .editor-inner {
  background: #fff;
  position: relative;
}

.LexicalTextEditor .editor-input {
  min-height: 150px;
  resize: none;
  font-size: 16px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

.LexicalTextEditor .toolbar {
  display: flex;
  margin-bottom: 1px;
  padding: 4px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.LexicalTextEditor .toolbar button {
  border: 0;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.LexicalTextEditor .toolbar button:hover:not([disabled]) {
  background-color: #eee;
}

.LexicalTextEditor .toolbar button.active {
  background-color: #eee;
}

.LexicalTextEditor .toolbar button.spaced {
  margin-right: 2px;
}

.LexicalTextEditor .toolbar button[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.LexicalTextEditor .toolbar .divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 8px;
}

.LexicalTextEditor .toolbar svg {
  fill: currentColor;
  opacity: 0.8;
}

.LexicalTextEditor .toolbar button:hover:not([disabled]) svg {
  opacity: 1;
}

.LexicalTextEditor .toolbar button.active svg {
  opacity: 1;
}
