.OutboundLinks {
  margin-bottom: var(--space-3);
}

.OutboundLinks__link {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: var(--space-1);
  border-radius: var(--radius-sm);
  text-decoration: none;
}

.OutboundLinks__link:hover {
  text-decoration: underline;
}

.OutboundLinks__link:focus-visible {
  outline: 2px solid var(--slate-7);
  background-color: var(--slate-2);
}

.OutboundLinks__link--internal {
  color: var(--accent-9);
}

.OutboundLinks__link--external {
  color: var(--blue-9);
}

.OutboundLinks__group {
  margin: var(--space-1) 0;
}

.OutboundLinks__toggle {
  color: var(--slate-8);
}

.OutboundLinks__instances {
  border-left: var(--border-width) solid var(--slate-5);
  margin-top: var(--space-1);
}

.OutboundLinks__instance {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--slate-11);
  padding: var(--space-1);
  border-radius: var(--radius-sm);
  text-decoration: none;
}

.OutboundLinks__instance:hover {
  text-decoration: underline;
  color: var(--slate-12);
}

.OutboundLinks__instance:focus-visible {
  outline: 2px solid var(--slate-7);
  background-color: var(--slate-2);
  color: var(--slate-12);
}
