.Page {
  /* max-width: var(--max-width-content); */
  width: 100%;
  opacity: 0;
  transition: opacity var(--duration-fast) ease;
  position: relative;
  justify-self: center;
  grid-row: 2;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "content sidebar"
    "bottom bottom";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 0;
}

.Page--loaded {
  opacity: 1;
}

.Page--loading {
  opacity: 0;
}

.Page__content {
  grid-area: content;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.Page__metadata {
  grid-area: bottom;
  border-top: 1px solid var(--slate-5);
}
