.RelatedPages__button {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  cursor: pointer;
  color: var(--text-primary);
}

.RelatedPages__content {
  max-height: 400px;
  overflow-y: auto;
  min-width: 200px;
  background-color: var(--bg-primary);
  border-radius: var(--radius-md);
}

.RelatedPages__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-1);
}

.RelatedPages__linktitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
