.RelatedPages__button {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  cursor: pointer;
}

.RelatedPages__content {
  max-height: 400px;
  overflow-y: auto;
  min-width: 200px;
}

.RelatedPages__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.RelatedPages__link:hover {
  text-decoration: underline;
}
