.SidebarSection {
  width: 100%;
  padding: var(--space-1) var(--tiny-padding) 0 var(--space-1);
  overflow-y: hidden;
  position: relative;
  padding-bottom: var(--space-3);
}

.SidebarSection:not(:last-child) {
  padding-bottom: var(--space-2);
}

.SidebarSection:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--border-default);
}

.SidebarSection__content {
  width: 100%;
}
