.App {
  padding: var(--space-6);
  max-width: var(--max-width-container);
  margin: 0 auto;
}

.Page {
  max-width: var(--max-width-content);
}

.toolbar-root {
  padding: var(--space-3);
  border-radius: var(--radius-md);
  background-color: white;
  border: var(--border-width) solid var(--gray-6);
  margin-bottom: var(--space-4);
  display: flex;
  gap: var(--space-3);
}

.toolbar-button {
  all: unset;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  line-height: 1;
  font-weight: 500;
  height: 32px;
  background-color: white;
  color: var(--gray-12);
  box-shadow: 0 0 0 var(--border-width) var(--gray-7);
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: var(--gray-3);
}

.toolbar-button:focus {
  position: relative;
  box-shadow: 0 0 0 2px var(--gray-8);
}

.toolbar-separator {
  width: var(--border-width);
  background-color: var(--gray-6);
  margin: 0 var(--space-3);
}
