.App {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.Page {
  max-width: 80rem;
}

.toolbar-root {
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid var(--gray6);
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
}

.toolbar-button {
  all: unset;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  height: 32px;
  background-color: white;
  color: var(--gray12);
  box-shadow: 0 0 0 1px var(--gray7);
  cursor: pointer;
}

.toolbar-button:hover {
  background-color: var(--gray3);
}

.toolbar-button:focus {
  position: relative;
  box-shadow: 0 0 0 2px var(--gray8);
}

.toolbar-separator {
  width: 1px;
  background-color: var(--gray6);
  margin: 0 10px;
}
