.Page {
  max-width: var(--max-width-content);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
  opacity: 0;
  transition: opacity var(--duration-fast) ease;
}

.Page.loaded {
  opacity: 1;
}

.Page.loading {
  opacity: 0;
}
